s3endpoint=https://citz-foi-prod.objectstore.gov.bc.ca/
s3accesskey=
s3secretkey=
s3region=us-east-1
s3forcepathstyle=
azuresubcriptionkey=
azuredocumentaiendpoint=
activeMQBaseURL=
activeMQPassword=
focdocextractqueue=
activemqclientid=
foisearchsolrpostendpoint=
solradmin=
solrpassword=
docreviewerauditapiendpoint=
docreviewerauditapisecret=