s3endpoint=
s3accesskey=
s3secretkey=
s3region=
s3forcepathstyle=
azuresubcriptionkey=
activeMQBaseURL=
activeMQUserName= 
activeMQPassword=
focdocextractqueue=
activemqclientid=
foisearchsolrpostendpoint=
solradmin=
solrpassword=
docreviewerauditapiendpoint=
docreviewerauditapisecret=
azureeventgridendpoint=
azureeventgridaccesskey=